 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 }
 .App{
    padding: 1.5rem;
    background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
 }
 .movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 .search-nav{
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
    justify-content: center;
 }
 .movie-title{
    padding-right: 3rem;
 }

 .search-box form input, button{
    border: 0;
    outline: 0;
    background-color: #fff;
    margin-right: 0.2rem;
    padding: 0.5rem;
    border-radius: 1rem;
 }